body {
	background-color: #2C3034;
}

.button {

	padding: 0.85em 1.5em;
	font-size: 1 em;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	background-color: #5D5D9B;
	border: 1px solid #222;
	border-radius: 0;

}

.button:hover {
	background-color: #8484cf;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btn {
	color: white;
}

.btn:hover {
	background-color: #7A97C6;
}

.img-container {
	text-align: center;
	display: block;
}

.fondo {
	background-color: #3b4b6b;
	text-align: center;
	width: 75%;
	margin-left: 12%;
	border-style: double;
	color: white;
	font-size: 20px;
}