body {
    background-color: #1A1B26;
}

form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 210px;
    align-items: center;
    color: white;
    text-align: center;
}

form button {
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}
